body{
    overflow: hidden;
    background-color: #F0BB32;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.container{
    display: flex;
    width: 70%;
    margin: auto;
}
.flex-child{
    flex-basis: 50%;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
h1{
    text-align: center;
}